.rectangle-17 {
  width: 320px;
  height: 131px;
  background: #f1f5f9;
  border-radius: 40px;
  padding: 30px 30px;
}
.participants {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  white-space: nowrap;
}
.flex-row-d {
  position: relative;
  width: 246px;
  height: 40px;
  margin: 9px 0 0 34px;
  z-index: 54;
}
.frame-18 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 206px;
  z-index: 54;
}
.ellipse-19 {
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 40px;
  background: url(../assets/images/21df41f8-36aa-48f8-af13-05fa40d5ff86.png)
    no-repeat center;
  background-size: cover;
  z-index: 55;
  border-radius: 50%;
}
.fluent-add-filled-1a {
  flex-shrink: 0;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 12px;
  z-index: 56;
  overflow: hidden;
}
.vector-1b {
  position: relative;
  width: 11.5px;
  height: 11.5px;
  margin: 2px 0 0 2px;
  background: url(../assets/images/4878aa92-3740-456b-bc43-879348301454.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 57;
}
.ellipse-1c {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 3px;
  left: 0;
  background: url(../assets/images/765452c1-54df-4cb2-a3bb-a62dcc25638d.png)
    no-repeat center;
  background-size: cover;
  z-index: 46;
  border-radius: 50%;
}
.ellipse-1d {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 3px;
  left: 20px;
  background: url(../assets/images/85337ae2-5750-4e3e-a867-789e2dd00b2f.png)
    no-repeat center;
  background-size: cover;
  z-index: 47;
  border-radius: 50%;
}
.ellipse-1e {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 3px;
  left: 40px;
  background: url(../assets/images/78ba0ce6-cac6-4b9d-8f4d-a2c3803c3947.png)
    no-repeat center;
  background-size: cover;
  z-index: 48;
  border-radius: 50%;
}
.ellipse-1f {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 3px;
  left: 60px;
  background: url(../assets/images/505048e2-d6f7-42b9-9585-7d1565bc471e.png)
    no-repeat center;
  background-size: cover;
  z-index: 49;
  border-radius: 50%;
}
.ellipse-20 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 3px;
  left: 80px;
  background: url(../assets/images/520bbbf2-1c10-4ddb-a04c-b7392f20d50d.png)
    no-repeat center;
  background-size: cover;
  z-index: 50;
  border-radius: 50%;
}
.frame-21 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 34px;
  height: 34px;
  top: 3px;
  left: 100px;
  z-index: 51;
}
.ellipse-22 {
  flex-shrink: 0;
  position: relative;
  width: 34px;
  height: 34px;
  background: url(../assets/images/87c965a5-ada6-449d-8c21-a8e5f267aa1a.png)
    no-repeat center;
  background-size: cover;
  z-index: 52;
  border-radius: 50%;
}
.plus {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: absolute;
  width: 17px;
  height: 13px;
  top: 10px;
  left: 9px;
  color: #2f56de;
  font-family: Lexend, var(--default-font-family);
  font-size: 10px;
  font-weight: 500;
  line-height: 12.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 53;
}
